@{
    ViewData["Title"] = "Apresentation";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Investment Yield Calculator</h1>
    <p>This tool empowers you to calculate the yield of your investments with ease.</p>
    <p>Whether you're managing corporate bonds, municipal bonds, or government bonds, our calculator provides accurate yield-to-worst (YTW) calculations.</p>
    <p>Start optimizing your investment strategy today by using our intuitive tool!</p>
    <p>Learn more about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
